<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384805035419-5sh746b9mq8l3bc89a3pv6m0h9dmrldd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384805035419-5sh746b9mq8l3bc89a3pv6m0h9dmrldd</string>
	<key>API_KEY</key>
	<string>AIzaSyDqOVWmhvKm3VMrl6RyVHEVPqrrX2B8vWY</string>
	<key>GCM_SENDER_ID</key>
	<string>384805035419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IrisNguyen.recipe</string>
	<key>PROJECT_ID</key>
	<string>recipe-3b391</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-3b391.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384805035419:ios:2003ac7c0190a9116cd53e</string>
</dict>
</plist>