<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>recipe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04066C8325D3D94F00FA5E64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04066C9425D3D95000FA5E64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04066C9F25D3D95000FA5E64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
